.content {
    min-height: 100%;
}

.btn-blue {
    background-color: rgba(0, 158, 227, 0.78);
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
}

.review-title {
    width: 160px;
    padding-left: 35px;
}

.reviews {
    margin-top: 250px;
}

.review-block-description {
    margin-left: 15px;
    margin-top: 60px;
}

.review-block-name {
    margin-top: 10px;
}

.review-content {
    font-weight: bold;
    padding-bottom: 5px;
}

#map {
    height: 250px;
    width: 300px;
}
#piechart{
    height: 200px;
    width: 250px;
}

