.side {
    position: fixed;
    width: 350px;
    background-color: rgba(247, 247, 247, 0.68);
    color: rgba(71, 71, 71, 0.8);
}

.content {
    padding-left: 400px;
    color:rgba(71, 71, 71, 0.8);
    min-height:100%;
}

.btn-blue {
    background-color: rgba(0, 158, 227, 0.78);
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
}

.review-title {
    width: 160px;
    padding-left: 35px;
}

#reviews {
    margin-top: 250px;
}

.review-block-description {
    margin-left: 15px;
    margin-top: 60px;
}

.review-block-name {
    margin-top: 10px;
}

.recent-works {
    /*margin-top: 80px;*/
}

