.review-item {
    margin-top: 35px;


}

textarea.review {
    width: 100%;
    border: 1px solid #ececec;
    border-radius: 0;
    box-shadow: none;
    color: #818181;
    font-size: 16px;
}

.review-item .like {
    float: right;
    color: white;
    padding-left: 10px;
    font-size: medium;
}