{% load custom_tag %}
<div class="post-box" id="reviewid_{{ review.id }}">
    <div class="post-top">
        <span><img
                class="img img-circle img-user-icon"
                src=""
                alt="Generic placeholder image"
                width="50"
                height="50"></span>
        <p class="post-meta">Posted by
            <a href="#">{{ review.author.profile.nick_name }}</a>
            on {{ review.create_time }}</p>
        {% if review.author == user %}
            <button onclick="deleteReview()"
                    class="pull-right"><span
                    class="glyphicon glyphicon-remove"
                    aria-hidden="true"></span></button>
        {% endif %}
    </div>

    <div class="post-body">
        <p>{{ review.text }}</p>
    </div>

    <div class="post-footer">

        <div class="button-group">
            <ul class="nav nav-pills pull-right">
                <li class="">
                    <a class="btn {% check_liked blog user as liked %}
                                                    {% if liked %}
                                                        btn-danger
                                                    {% else %}
                                                        btn-success
                                                    {% endif %}"
                       onclick="likes(this)"
                       role="button"><span
                            class="glyphicon glyphicon-star"
                            aria-hidden="true"></span>Likes

                        <span
                                class="badge pull-right likes-badge">{{ blog.likes_num }}</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="review-item">
    <img src="../static/img/member-1.jpg" class="pull-left" alt="member">
    <p>Posted by
        <a href="#">{{ review.author.profile.nick_name }}</a>
        on {{ review.create_time }}</p>
    <p>
        {{ review.text }}
    </p>
    <p>
        <a class="btn pull-right {% check_liked blog user as liked %}
                                                    {% if liked %}
                                                        btn-danger
                                                    {% else %}
                                                        btn-success
                                                    {% endif %}"
           onclick="likes(this)"
           role="button"><span
                class="glyphicon glyphicon-star"
                aria-hidden="true"></span>Likes

            <span
                    class="badge pull-right likes-badge">{{ blog.likes_num }}</span></a>
    </p>
</div>