<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Bestat{% endblock %}</title>
    {% load static %}
    <!-- meta character set -->
    <meta charset="UTF-8">
    <meta name="google-site-verification"
          content="bsR0zX0H8d_rSuBHyv1dtoFFTgGtLHgdVkoO6GiKgDM"/>
    <meta name="B-verify" content="ff38adea09ecfa2f756c5abddc25a4436cff285a"/>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700'
          rel='stylesheet' type='text/css'>
    <!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="{% static "css/jquery.fancybox.css" %}">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="{% static "css/slit-slider.css" %}">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="{% static "css/animate.css" %}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static "css/bestat.navbar.css" %}">
    {% block css %}
    {% endblock %}
    <!-- Modernizer Script for old Browsers -->
    <script src="{% static "js/modernizr-2.6.2.min.js" %}"></script>
</head>


<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>

                </button>
                <a class="navbar-brand"
                   href="{% url 'bestat:home' %}">BESTAT</a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown" role="button">
                            Top Cities
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'bestat:cities' %}?rank=population">Metropolitan</a></li>
                            <li><a href="{% url 'bestat:cities' %}?rank=income">Highest Income</a></li>
                            <li><a href="{% url 'bestat:cities' %}?rank=random">Lucky draw</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown" role="button">
                            Top neighbors
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'bestat:neighbors' %}?rank=convenience">Convenience</a></li>
                            <li><a href="{% url 'bestat:neighbors' %}?rank=safety">Safety</a></li>
                            <li><a href="{% url 'bestat:neighbors' %}?rank=random">Lucky draw</a></li>

                        </ul>
                    </li>
                    {% if not user.is_anonymous %}
                        <li class="dropdown"><a href="#" class="dropdown-toggle"
                                                data-toggle="dropdown"
                                                role="button">
                            Setting <b class="caret"></b>
                        </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'bestat:edit_profile' %}">edit
                                    profile</a></li>
                                <li>
                                    <a href="{% url 'bestat:change_password' %}">change
                                        password</a></li>

                            </ul>
                        </li>
                    {% endif %}

                </ul>

                {% if user.is_anonymous %}
                    <div class="navbar-form navbar-right ">
                        <a class="btn btn-success"
                           href="{% url 'bestat:signin' %}"
                           role="button">Sign
                            in</a>
                        <a class="btn btn-info" href="{% url 'bestat:signup' %}"
                           role="button">Sign
                            up</a>
                    </div>

                {% else %}
                    <div class="nav navbar-form navbar-right">
                        <a id="logout" class="btn btn-danger"
                           href="{% url 'bestat:logout' %}"
                           role="button">Logout</a>
                        <img src="{{ user.profile.img.url }}"
                             class="img-circle" width="35" height="35">
                    </div>
                {% endif %}
                {% block navbar %}{% endblock %}

            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</header>
<body>

{% block body %}


{% endblock %}
{% block footer %}


    <div class="row" style="margin-top: 100px">
        <div class="col-md-12">
            <footer class="footer-distributed">
                <div class="footer-right">

                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>

                </div>

                <div class="footer-left">

                    <p class="footer-links">
                        <a class="link-1" href="{% url 'bestat:home' %}">Home</a>

                        <a href="#">Blog</a>

                        <a href="#">About</a>

                        <a href="#">Contact</a>
                    </p>

                    <p>BestAt &copy; 2017</p>
                </div>
            </footer>
        </div>
    </div>




{% endblock %}
<!-- Essential jQuery Plugins
================================================== -->
<!-- Main jQuery -->
<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
<!-- Twitter Bootstrap -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<!-- jquery.fancybox.pack -->
<script src="{% static "js/jquery.fancybox.pack.js" %}"></script>
<!-- Google Map API -->

<!-- Owl Carousel -->
<script src="{% static "js/owl.carousel.min.js" %}"></script>
<!-- jquery easing -->
<script src="{% static "js/jquery.easing.min.js" %}"></script>
<!-- Fullscreen slider -->
<script src="{% static "js/jquery.slitslider.js" %}"></script>
<script src="{% static "js/jquery.ba-cond.min.js" %}"></script>
<!-- onscroll animation -->
<script src="{% static "js/wow.min.js" %}"></script>
<!-- Custom Functions -->
<script src="{% static "js/main.js" %}"></script>

<script src="{% static "js/jquery.backstretch.js" %}"></script>
{% block js %}
{% endblock %}
</body>
</html>
