{% extends 'base_sign.html' %}

{% block title %}Bestat{% endblock %}

{% block content %}
    <div class="inner-bg">
        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <hr class="featurette-divider">
            <div class="row featurette">


                <div class="col-md-8 col-md-offset-2 text-center login-font">

                    <h1>{{ msg }}</h1>
                </div>
            </div>
            <hr class="featurette-divider">
        </div>
    </div>
{% endblock %}
