{% extends "base.html" %}
{% load static %}
{% block title %}Bestat - Detail{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bestat.detail.css" %}">
    <link rel="stylesheet" href="{% static "css/fontawesome-stars.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
{% endblock %}
{% block body %}

    {% load static %}

    <div class="container">

        <div class="col-xs-4 wow animated fadeInRight side">
            <h1 id="neighbor"></h1>
            <h3>Living Index</h3>
            <hr>
            <div id="chart_div"></div>
        </div>

        <div class="col-md-12 wow animated fadeInLeft content">

            <div class="recent-works welcome-block">
                <h3>Reviews</h3>
                <hr>
                <div id="new-review-div" class="col-md-12">
                    <form id="reviewForm" action="create_review" method="post">
                        <div class="col-md-3">
                            <label>Safety: </label>
                            <select id="safety" name="safety">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Public Service: </label>
                            <select id="public" name="public">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Convenience: </label>
                            <select id="convenience" name="convenience">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <textarea class="review form-control"
                                  id="newReviewTxt" name="text"
                                  placeholder="Type in your review"
                                  rows="2"></textarea>
                        <button class="btn btn-blue btn-effect pull-right" type="submit" id="submit"
                                onclick="postReview()">Post Review
                        </button>

                        <input name="neighbor_id" type="hidden" value="{{ neighbor_id }}">
                    </form>
                </div>

                <div id="reviews">
                </div>

            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script src="{% static "js/jquery.barrating.min.js" %}"></script>
    <script src="{% static "js/bestat.detail.js" %}"></script>
    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload= {'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>

{% endblock %}
