{% extends 'base_sign.html' %}

{% block content %}
    <!-- main body -->
    <div class="main-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text login-font">
                        <h1><strong>BESTAT</strong></h1>
                        <div class="description">
                            <p>
                                Welcome to BESTAT!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <h3 class="text-center">Reset your password</h3>
                        </div>
                        <div class="form-bottom">
                            <form role="form"
                                  action="{% url 'bestat:forget_password' %}"
                                  method="post"
                                  class="login-form">

                                {% if errors %}
                                    {% for msg in errors %}
                                        <p class="error_msg">{{ msg }}</p>
                                    {% endfor %}
                                {% endif %}

                                {% csrf_token %}
                                {% for field in form.visible_fields %}

                                    <div class="form-group">
                                        {{ field }}
                                        {% if field.help_text %}
                                            <div class="description">
                                                <p>{{ field.help_text }}</p>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}

                                <button type="submit"
                                        class="btn btn-lg btn-warning"
                                >
                                    Send me email
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 social-login  login-font">
                        <h3>...or login with:</h3>
                        <div class="social-login-buttons">
                            <a class="btn btn-link" href="#">
                                <i class="fa fa-facebook"></i> Facebook
                            </a>
                            <a class="btn btn-link" href="#">
                                <i class="fa fa-twitter"></i> Twitter
                            </a>
                            <a class="btn btn-link" href="#">
                                <i class="fa fa-google-plus"></i> Google Plus
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
