{% extends "base.html" %}
{% load static %}
{% block title %}Bestat: Your personal neighborhood selection assistant{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/bestat.navbar.css" %}">
{% endblock %}
{% block body %}

    <section id="contact">
        <div class="container" >
            <div class="row">

                <div class="sec-title text-center wow animated fadeInDown">
                    <h2>Choose City</h2>
                    <h4>At BestAt, We use big data to find the best neighborhood for your to stay. No matter you are travelling or moving to a new city, you can find the best match by one click!</h4>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-home fa-3x"></i>
                        </div>
                        <h3>Convenience</h3>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn"
                     data-wow-delay="0.3s">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-tasks fa-3x"></i>
                        </div>
                        <h3>Services</h3>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn"
                     data-wow-delay="0.6s">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-clock-o fa-3x"></i>
                        </div>
                        <h3>Transportation</h3>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn"
                     data-wow-delay="0.9s">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-heart fa-3x"></i>
                        </div>

                        <h3>Security</h3>

                    </div>
                </div>

                <div class="col-md-offset-2 col-md-8 text-center wow animated fadeInUp">
                    <form class="select" action="{% url 'bestat:city' %}" method="get">
                        <div class="input-field">
                            <input id="city" type="text" name="name"
                                   class="form-control"
                                   placeholder="Start your new life...">
                        </div>
                        <button type="submit" id="submit"
                                class="btn btn-blue btn-effect">
                            Choose
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}


    <script src="{% static "js/bestat.home.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>

{% endblock %}
