{% extends "base.html" %}
{% load static %}
{% block title %}Map{% endblock %}
<!DOCTYPE html>

{% block css %}
    <link rel="stylesheet"
          href="{% static 'css/leaflet.contextmenu.css' %}"/>
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
            integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
            crossorigin=""></script>

    <link rel="stylesheet" href="{% static "css/bestat.map.css" %}">
{% endblock %}
{% block body %}

    <div id="mapid"></div>

    <input type="hidden" name="city" value="{{ city }}">
    <input type="hidden" name="coordinate" value="{{ coordinate }}">
    <div style="visibility: hidden;height: 0" id="google"></div>

    <script src="{% static 'js/bestat.map.js' %}"></script>
    <script src="{% static 'js/leaflet.contextmenu.js' %}"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQi5ECDVGwZ6jpPShEjL1GbLZBvDlee8c&libraries=places"></script>
{% endblock %}

