{% extends "base.html" %}
{% load static %}
{% block title %}Map{% endblock %}
<!DOCTYPE html>

{% block css %}
    <link rel="stylesheet"
          href="{% static 'css/leaflet.contextmenu.css' %}"/>
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
            integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
            crossorigin=""></script>

    <link rel="stylesheet" href="{% static "css/bestat.map.css" %}">
    <link rel="stylesheet" href="{% static "css/bestat.preference.css" %}">
    <link rel="stylesheet" href="{% static "css/leaflet-sidebar.css" %}">
{% endblock %}
{% block body %}
    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#recommendationDiv" role="tab"><i class="fa fa-list-ol"></i></a></li>
                <li><a href="#preferenceDiv" role="tab"><i class="fa fa-sliders"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="recommendationDiv">
                <h1 class="sidebar-header">
                    Recommendation
                </h1>


            </div>

            <div class="sidebar-pane" id="preferenceDiv">
                <h1 class="sidebar-header">Preference</h1>

                <form method="post" action="">
                    <div class="sidebar-setting">
                        <h4>Live Convience</h4>
                        <div class="range-slider">
                            <label>Cafe</label>
                            <input class="range-slider__range" type="range" value="5" min="0" max="10">
                        </div>
                        <div class="range-slider">
                            <label>Restaurant</label>
                            <input class="range-slider__range" type="range" value="5" min="0" max="10">
                        </div>
                        <div class="range-slider">
                            <label>Grocery</label>
                            <input class="range-slider__range" type="range" value="5" min="0" max="10">
                        </div>
                        <div class="range-slider">
                            <label>Store</label>
                            <input class="range-slider__range" type="range" value="5" min="0" max="10">
                        </div>
                        <div class="range-slider">
                            <label>Bank</label>
                            <input class="range-slider__range" type="range" value="5" min="0" max="10">
                        </div>
                        <div class="range-slider">
                            <label>Gym</label>
                            <input class="range-slider__range" type="range" value="5" min="0" max="10">
                        </div>
                        <hr>
                    </div>

                    <div>
                        <h4>Public Service</h4>
                        <div class="range-slider">
                            <label>Hospital</label>
                            <input class="range-slider__range" type="range" value="5" min="0" max="10">
                        </div>
                        <div class="range-slider">
                            <label>School</label>
                            <input class="range-slider__range" type="range" value="5" min="0" max="10">
                        </div>
                        <div class="range-slider">
                            <label>Church</label>
                            <input class="range-slider__range" type="range" value="5" min="0" max="10">
                        </div>
                        <hr>
                    </div>

                    <div>
                        <h4>Security</h4>
                        <div class="range-slider">
                            <label>Crime</label>
                            <input class="range-slider__range" type="range" value="5" min="0" max="10">
                        </div>
                    </div>

                    <div>
                        <input type="submit" class="btn btn-default" value="Search"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="mapid"></div>

    <input type="hidden" name="city" value="{{ city }}">
    <input type="hidden" name="coordinate" value="{{ coordinate }}">
    <div style="visibility: hidden;height: 0" id="google"></div>

    <script src="{% static 'js/bestat.map.js' %}"></script>
    <script src="{% static 'js/bestat.preference.js' %}"></script>
    <script src="{% static 'js/leaflet.contextmenu.js' %}"></script>
    <script src="{% static 'js/leaflet-sidebar.js' %}"></script>
    <script src="{% static 'js/bouncemarker.js' %}"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQi5ECDVGwZ6jpPShEjL1GbLZBvDlee8c&libraries=places"></script>
{% endblock %}

