{% extends "base.html" %}

{% block title %}Bestat - Recommendation{% endblock %}

{% block body %}
    <section id="" class="parallax">
        <div class="overlay">
            <div class="container">
                <div class="row">

                    <div class="sec-title text-center wow animated fadeInDown" style="margin-top: 50px">
                        <h2>Recommendation</h2>
                    </div>

                    <div id="testimonial" class=" wow animated fadeInUp">
                        <div class="testimonial-item text-center">
                            <img src="img/member-1.jpg" style="padding-right: 30px">
                            <span>Katy Perry</span>
                        </div>
                    </div>

                    <div class="col-md-5 wow animated fadeInRight" data-wow-delay="0.4s">
                        <div class="price-table featured text-center">
                            <span>Preference</span>
                            <div class="value">
                                <span>100</span><br>
                                <span>overall</span>
                            </div>
                            <ul>
                                <li>30<br>Support</li>
                                <li>20<br>Education</li>
                                <li>20<br>Transportation</li>
                                <li>30<br>Security</li>
                                <li><a href="#">Set</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-offset-1 col-md-6 contact-form wow animated fadeInLeft">
                        <div class="recent-works" style="margin-bottom: 30px">
                            <img src="img/portfolio/item3.jpg" >
                            <div class="message-body" style="margin-top: 50px">
                                <p>Overall describe Overall describe Overall describe Overall describe Overall describe
                                   Overall describe Overall describe Overall describe Overall describe Overall describe
                                   Overall describe Overall describe Overall describe Overall describe Overall describe
                                   Overall describe Overall describe Overall describe Overall describe Overall describe. </p>
                            </div>
                        </div>
                        <button type="submit" id="submit" class="btn btn-blue btn-effect">Goto</button>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}