{% extends 'base.html' %}
{% block body %}
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <hr class="featurette-divider">
        <div class="row featurette">
            {% if errors|length > 0 %}
                <div class="alert alert-danger" role="alert">
                    {% for er in errors %}
                        <p>{{ er }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default panel-profile">
                        <div class="panel-heading"><h4>Reset Password</h4>
                        </div>
                        <div class="panel-body">

                            <form role="form" class="form" method="post"
                                  action="{% url 'bestat:reset_password' %}">
                                {% csrf_token %}
                                <h4 align="center">Once you change your
                                    password, you will
                                    have to login again.</h4>
                                <div class="well well-profile">
                                    <table class="table table-hover">
                                        <tbody>
                                        {% for field in form %}
                                            <tr>
                                                <td class="ui-dialog-title">{{ field.label }}</td>
                                                <td>{{ field }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>

                                <button type="submit"
                                        class="btn btn-lg btn-warning"
                                        style="width: 100%;">
                                    Reset
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>


        </div>
        <hr class="featurette-divider">
    </div>


{% endblock %}


